<launch>
  <!-- TODO: IMPROVE tf_prefix APPROACH -->
  <arg name="robot_name"/>
  <arg name="tf_prefix" value="$(arg robot_name)_tf"/>

	<!-- Bumper to point cloud -->
	<include file="$(find ca_bumper2pc)/launch/standalone.launch">
    <!-- <arg name="tf_prefix" value="$(arg tf_prefix)"/> -->
    <!-- <arg name="ns" value="$(arg robot_name)"/> -->
  </include>

	<!-- move_base -->
	<include file="$(find ca_move_base)/launch/move_base.launch">
    <arg name="ns" value="$(arg robot_name)"/>
  </include>

	<!-- AMCL -->
  <include file="$(find ca_move_base)/launch/amcl.launch"/>

  <!-- slam_gmapping -->
  <!-- <include file="$(find ca_slam)/launch/slam_gmapping.launch">
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
  </include> -->

</launch>
