<launch>
  <!--ToDo: All commented lines can be used in the future for executing this package with multiple robots being spawned-->
  <arg name="id" default="$(optenv ID 1)"/> 
  <group ns="$(eval 'create' + str(arg('id')))" if="$(eval str(arg('id')).isdigit() and (arg('id') > 0))">
    <node pkg="ca_tools" type="draw_square.py" name="draw_square" output="screen"/>
    <node pkg="ca_tools" type="test_pub.py" name="test_pose" output="screen"/>
    <node pkg="ca_tools" type="controller.py" name="pose_controller" output="screen"/>
  </group>
</launch>
