<launch>
    <include file="$(find ca_gazebo)/launch/create_autorace.launch"/>

    <arg name="id" default="$(optenv ID 1)"/> 
    <group ns="$(eval 'create' + str(arg('id')))" if="$(eval str(arg('id')).isdigit() and (arg('id') > 0))">
        <node pkg="ca_tools" type="follow_lines.py" name="line_follower" output="screen"/>
    </group>
</launch>