<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="april_tag" params="name_prefix *origin">

    <link name="${name_prefix}_april_tag_link">
      <visual>
        <geometry>
          <box size="0.5 0.5 0.05" />
        </geometry>
      </visual>
    </link>

  <joint name="${name_prefix}_april_tag_joint" type="fixed">
    <parent link="base_link" />
    <child link="${name_prefix}_april_tag_link"/>
    <xacro:insert_block name="origin"/>
  </joint>

  <gazebo reference="${name_prefix}_april_tag_link">
    <visual>
      <material>            
        <script>
          <uri>model://create_april_tags/materials/scripts </uri>
          <uri>model://create_april_tags/materials/textures </uri>
          <name>AprilTag5</name>
        </script>
      </material>
    </visual>
  </gazebo>

  </xacro:macro>

</robot>
