<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="light_sensor" params="prefix *origin">

    <xacro:include filename="$(find ca_description)/urdf/common_properties.xacro"/>
    
    <xacro:property name="name" value="${prefix}_light_sensor"/>
    <xacro:property name="parent_link" value="base_link"/>

        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent_link}" />
            <child link="${name}_link" />
        </joint>

        <link name="${name}_link">
        <visual>
            <geometry>
                <mesh filename="package://ca_description/meshes/last_lens.stl" />
            </geometry>
            <material name="blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        </link>

        <joint name="${name}_optical_joint" type="fixed">
            <origin xyz="0.052 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>/>
            <parent link="${name}_link" />
            <child link="${name}_optical_frame"/>
        </joint>
        
        <link name="${name}_optical_frame"/>

        <gazebo reference="${name}_link">
            <material>Gazebo/Blue</material>
        </gazebo>

</xacro:macro>
</robot>
